body{        
    padding-top: 37px;
    padding-bottom: 40px;
}
html, body {
    font: 11pt arial;
    background-color: #333333;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background-color: #111111;
    margin-left: -8px;
    padding: 11px;
    color: #fff;
}
.fixed-header{
    top: 0;
    min-width: 1300px;
}
.fixed-footer{
    bottom: 0;
}    
a {
    color: lightseagreen
}
#statement {
    margin-right: 20px;
    margin-top: 3px;
    float:right;
    background-color: #111111;
    color: #BBBBBB;
}
#network {      
    width: 99%;
    height: 100%;
    margin-left: 0.5%;
}
#statement2 {
    color: #BBBBBB;
}
input {
    border: 2px solid lightseagreen;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
    padding: 5px;
    height: 23px;
    width: 280px;
    margin-left: 10px;
    float:left;
    color: #333333;
    outline:none;
  }
button {
    border: 3px black;
    background-color: lightseagreen;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
    height: 23px;
    width: 170px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    float:left;
    color: #333333;
    outline:none;
    cursor:pointer;
}
.loader {
    position: fixed;
    border: 16px solid lightseagreen;
    border-radius: 50%;
    border-top: 16px solid #111111 ;
    width: 6vw;
    height: 6vw;
    top: 50%;
    left: 50%;
    margin-top: -3vw; /* Negative half of height. */
    margin-left: -3vw; 
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }