body{        
    padding-top: 33px;
    padding-bottom: 40px;
}
html, body {
    font: 11pt arial;
    background-color: #333333;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background-color: #111111;
    margin-left: -8px;
    padding: 10px;
    color: #fff;
}
.fixed-header{
    top: 0;
    min-width: 1200px;
}
.fixed-footer{
    bottom: 0;
}    
#input_box {
    width: 280px;
    margin-left: 20px;
    float:left;
    color: #333333;
}
a {
    color: lightseagreen
}
#statement {
    margin-right: 20px;
    float:right;
    background-color: #111111;
    color: #BBBBBB;
}
#network {      
    width: 100%;
    height: 100%;
}
#statement2 {
    color: #BBBBBB;
}